body {
  background-image: url("https://d2ycltig8jwwee.cloudfront.net/features/419/fullwidth.842aeb23.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.header {
  text-align: center;
  font-size: 50px;
}
.movies { 
  border: 1px solid black;
  width: 500px;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  background-color: white;


}
form {
  font-size: 30px;
  color: red;
}

